<h1>{{ article.title }}</h1> 

{%  if section.settings.enable_author %} 
    <small>{{ article.author }}</small>
{% endif %} 
{% if section.settings.enable_time %}
<time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%Y-%m-%d' }}</time>    
{% endif %}


<img src="{{ article.image |  image_url: 'large' }}"  alt="{{ article.image.alt }}" width="100%" height="100%"/>

<div class="content">{{ article.content }}</div>



{% schema %}
{
    "name": "Template Article",
    "settings": [
        {
            "type": "checkbox",
            "id": "enable_author",
            "default": true,
            "label": "Display Author Name"
        },
        {
            "type": "checkbox",
            "id": "enable_time",
            "default": true,
            "label": "Display Time and Date"
        }
        ]
}
{% endschema %}