<h1>{{ article.title }}</h1> 

<small>{{ article.author }}</small>

<time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%Y-%m-%d' }}</time>

<img src="{{ article.image |  image_url: 'large' }}"  alt="{{ article.image.alt }}" width="100%" height="100%"/>

<div class="content">{{ article.content }}</div>



{% schema %}
{
    "name": "Template Article",
    "settings": [
        {
            "type": "checkbox",
            "id": "enable_author",
            "default": true,
            "label": "Display Author"
        }
        ]
}
{% endschema %}